.EmotionItem {
    cursor: pointer;
    border-radius: 5px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmotionItem img {
    width: 50%;
    margin-bottom: 10px;
}

.EmotionItem span {
    font-size: 18px;
}

.EmotionItemOff {
    background-color: #ececec;
}

.EmotionItemOn1 {
    background-color: #64c964;
    color: white;
}

.EmotionItemOn2 {
    background-color: #9dd772;
    color: white;
}

.EmotionItemOn3 {
    background-color: #fdce17;
    color: white;
}

.EmotionItemOn4 {
    background-color: #fd8446;
    color: white;
}

.EmotionItemOn5 {
    background-color: #fd565f;
    color: white;
}