.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.Header > div header {
    display: flex;
}

.Header button {
    font-family: "Nanum Pen Script";
}

.Header .title {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

.Header .left {
    width: 25%;
    justify-content: start;
}

.Header .right {
    width: 25%;
    justify-content: end;
}