.Viewer {

}

.Viewer section {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Viewer h4 {
    font-size: 22px;
    font-weight: bold;
}

.Viewer .EmotionImgWrapper {
    background-color: #ececec;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Viewer .EmotionImgWrapper1 {
    background-color: #64c964;
}

.Viewer .EmotionImgWrapper2 {
    background-color: #9dd772;
}

.Viewer .EmotionImgWrapper3 {
    background-color: #fdce17;
}

.Viewer .EmotionImgWrapper4 {
    background-color: #fd8446;
}

.Viewer .EmotionImgWrapper5 {
    background-color: #fd565f;
}

.Viewer .ContentWrapper {
    width: 100%;
    background-color: #ececec;
    border-radius: 5px;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.Viewer .ContentWrapper p {
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-family: "Yeon Sung";
    font-weight: 400;
    line-height: 2.5;
}